:root {
    color-scheme: light dark;
  --primary-color: rgb(35, 142, 212);
}

#page-wrapper.signin-page {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    margin: 0;
}

.signin-page .signin-wrapper {
    flex-direction: column;

    width: 944px; 
    min-width: 250px;
    padding: 44px; 
    margin: 30px; 
 
    background: light-dark(#f0f4f9, rgb(39, 38, 38));
    border-radius: 15px;
    box-sizing: border-box;

    overflow: visible; 
}

.signin-page .signin-header {
    color: light-dark(rgb(39, 38, 38), white);
    margin: 0; 
    font: bolder 2em;
}

.signin-page .signin-button { 
    width: 100%;
    height: 40px;
    margin-top: 30px; 

    background: rgb(35, 142, 212);
    border: none;
    border-radius: 10px;
    cursor: pointer;

    color: white;
    font: bolder 1em;
}

.signin-page label {
    display: block;
    
    margin: 0; 
    margin-top: 10px;
    margin-bottom: 5px;

    color: light-dark(rgb(39, 38, 38), white); 
    font: bolder 1em;
}

.signin-page input {
    width: 100%; 
    height: 50px; 
    padding: 5px; 
    
    background: transparent; 
    border: 2px solid light-dark(rgb(39, 38, 38) ,white); 
    border-radius: 10px;
    box-sizing: border-box;
    outline: none;

    color: light-dark(rgb(39, 38, 38), white); 
    font: bolder 1em; 
}

.signin-page form {
    overflow: visible;
}

.signin-page footer {
    display: flex;
    justify-content: space-between;

    width: 100%; 
    margin-top: 20px; 

    border-top: 1px solid grey; 
    font-weight: bolder;
}

.signin-page a {
    margin-top: 20px; 

    cursor: pointer;
    color: rgb(33, 160, 233); 
    text-decoration: underline;
}

.signin-page .legal {
    display: flex;
    align-self: flex-end;
    gap: 5px;
}

.signin-page .legal button {
    align-self: flex-end;

    height: 30px;

    background: none;
    border: none;
    border-radius: 5px;
}

.signin-page .legal :hover {
    background: rgb(61, 59, 59);
}

.rubberBand {
    animation: rubberBand 1s 1; 
}

.disabled {
    opacity: 50%; 
    cursor: wait !important;
}

@media only screen and (max-width: 600px) {
    .signin-page .signin-wrapper {
        display: flex;
        justify-content: center;

        width: 100%; 
        height: 100%;
        margin: 0; 
        padding: 22px; 

        border-radius: 0px;

        overflow: visible;
    }
}